//colors
$background-color: #f5f5f5;
$accent: rgba(41, 149, 226, 1);
$mid-gray: #5f5d5d;
$dark-gray: #353434;
$light-gray: #787474;

//fonts
$font: "Cairo", sans-serif;

$font-xs: "span, p, button, ul, form, input, select, table";
$font-s: "h4, h4 > span";
$font-xl: "h1, h1 > span";

//breakpoints
$breakpoint-tablet: 710px;
